*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
    width: 100vw;
}
menu{
    grid-area: menu-nav;
}
section{
    grid-area: seccion-filtros;
}
main{
    grid-area: seccion-principal;
}
footer{
    grid-area: footer;
}
body{
    display: grid;
    grid-template-areas: 
        "menu-nav menu-nav"
        "seccion-filtros seccion-filtros"
        "seccion-principal seccion-principal"
        "footer footer";
    grid-template-columns: 1fr 1fr;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background: #01579b;
    color: white;
    height: 100%;
}
.menu-desktop{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.menu3{
    background: #01579b;
}
.menu2{
    background: #01579b;
}
.menu-ipad{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
}
.sub-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.section{
    background: #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
section select{
    width: 100%;
    height: 40px;
    border-radius: 10px;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 90%;
    height: 40%;
    padding: 10px;
}
.producto1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 90%;
    height: 40%;
    padding: 10px;
}
.producto2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 90%;
    height: 40%;
    padding: 10px;
}
.producto3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 90%;
    height: 40%;
    padding: 10px;
}
.producto4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 90%;
    height: 40%;
    padding: 10px;
}
.producto5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 90%;
    height: 40%;
    padding: 10px;
}
.lista{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    color: #00b0ff;
}
.lista p{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid gray;
    width: 40px;
    height: 30px;
}
.footer{
    display: flex;
    background: #002f6c;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    bottom: 0;
    height: 100%;
}
.rss{
    display: flex;
    flex-direction: row;
}
.rss i{
    margin: 10px;
}
@media (max-width:767px){
    .menu2{
        display: none;
    }
    .menu3{
        display: none;
    }
    .producto1{
        display: none;
    }
    .producto2{
        display: none;
    }
    .producto3{
        display: none;
    }
    .producto4{
        display: none;
    }
    .producto5{
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    body{
        grid-template-areas: 
            "menu-nav menu-nav"
            "seccion-filtros seccion-principal"
            "seccion-filtros seccion-principal"
            "footer footer";
        grid-template-rows: 1fr 5fr 5fr;
    }
    .section{
        align-items: flex-start;
        justify-content: flex-start;
        height: 100vh;
    }
    .sub-menu{
        flex-direction: row;
    }
    .menu{
        display: none;
    }
    .menu3{
        display: none;
    }
    .producto1{
        display: none;
    }
    .producto2{
        display: none;
    }
    .producto3{
        display: none;
    }
    .producto4{
        display: none;
    }

}
@media (min-width: 992px){
    body{
        grid-template-areas:
            "menu-nav seccion-filtros"
            "menu-nav seccion-principal"
            "menu-nav seccion-principal"
            "footer seccion-principal ";
        grid-template-columns: 1fr 4fr;
    }
    .main{
        justify-content: center;
        flex-direction: row;
    }
    .main *{
        width: 100%;
        margin: 10px;
    }
    .menu{
        display: none;
    }
    .menu2{
        display: none;
    }
    .producto5{
        display: none;
    }
}